.movieList {
    display: grid;
    grid-template-rows: auto;
    justify-content: space-around;
    align-items: center;
    padding: 15px;

    @media (min-width: 900px) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}