$black: #282828;
$point: #484848;
$point-light: lighten($point, 5%);

$card-shadow: 5px 5px 0px 0px $point-light;

*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background-color: #484848;
  width: 138px;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  margin: 0 0 5px 0;
  border-radius: 0;

  @media (min-width: 1024px) {
    width: 800px;
    min-height: 0px;
    height: 80px;
  }


  .cardInformation {
    .cardTitle {
      color: #FFFFFF;
      height: 45px;
    }
    
    .director {
      color: #dedede;
      height: 35px;
    }
    
    .yearReleased {
      color: 	#C2C2C2;
      height: 5px;
    }
    
    .ownedCheckbox {
      color: green;
      display: grid;
      padding: 10px 0px;
      
      @media (min-width: 1024px) {
        padding: 0px;
      }
    }
    
    .notOwnedCheckbox{
      color: salmon;
      display: grid;
      padding: 10px 0px;
      
      @media (min-width: 1024px) {
        padding: 0px;
      }
    }
    
    h1 {
      margin: 0px;
      padding: 5px;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
    }
    
    .movieViewIcon {
      margin: 3px 0 0 0;
      text-align: center;
      color:	#C2C2C2;
    } 
    
    .movieViewIcon:hover {
      color: white;
      .movieIcon {
        cursor: pointer;
        outline-style: solid;
        outline-color: skyblue;
        outline-width: thin;
      }
    }
    
    hr {
      display: block;
      border: none;
      height: 3px;
      background-color: #FFFFFF;
      margin: 0px;
      
      @media (min-width: 1024px) {
        display: none;
      }
    }
      @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 41% 41% 6% 6% 6%;
      }
  }

  hr {
    display: block;
    border: none;
    height: 3px;
    background-color: #FFFFFF;
    margin: 0px;

    @media (min-width: 1024px) {
      height: 1px;
    }
  }
    
  button {
    border: none;
    border-radius: 5px;
    background-color: black;
    width: 75%;
    margin: 5px auto;
    padding: 5px 10px;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
    font-size: 8px;
  }

  .datesWatched {
      padding: 2px 0px;
      font-size: 9px;
      color: #ffffff;
      font-family: 'Noto Sans KR', sans-serif;
      height: 45px;
  }
  
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes line-show {
  from {margin: 0px 100px;}
  to {margin: 0px;}
}

/* Standard syntax */
@keyframes line-show {
  from {margin: 0px 100px;}
  to {margin: 0px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes p-show {
  from {color: white;}
  to {color: $black;}
}

/* Standard syntax */
@keyframes p-show {
  from {color: white;}
  to {color: $black;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes shadow-show {
  from {
    -webkit-box-shadow: 0px 0px 0px 0px #e0e0e0;
    box-shadow: 0px 0px 0px 0px #e0e0e0;
  }
  to {
    -webkit-box-shadow: $card-shadow;
    box-shadow: $card-shadow;
  }
}

/* Standard syntax */
@keyframes shadow-show {
  from {-webkit-box-shadow: 0px 0px 0px 0px #e0e0e0;box-shadow: 0px 0px 0px 0px #e0e0e0;}
  to {-webkit-box-shadow: $card-shadow;box-shadow: $card-shadow;}
}